DB_SERVER=CFR-I7-1
DB_PORT=
DB_NAME=SBO_MEDINET_MIGRACION
DB_USER=sa
DB_PASSWORD=B1Admin
DB_DRIVER=ODBC Driver 17 for SQL Server
DB_ENCRYPT=no
APP_ENV=local
REPORTING_CURRENCY=SOL
REPORTING_CURRENCY_SYMBOL=S/
